<div class="container my-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <h3 class="text-center">Nombre de cours par sujet</h3>
      <app-bar-chart *ngIf="countSubjects.length > 0" [data]="countSubjects"></app-bar-chart>
    </div>

    <div class="col-md-4 mb-4">
      <h3 class="text-center">Nombre de lecteurs par sujet</h3>
      <app-doughnut-char *ngIf="subscriberAndLectures.length > 0" [data]="subscriberAndLectures"  ></app-doughnut-char>
    </div>

<!--    <div class="col-md-4 mb-4">-->
<!--      <app-bar-chart *ngIf="countSubjects.length > 0" [data]="countSubjects"></app-bar-chart>-->
<!--    </div>-->

    <div  class="col-md-8 mb-4">
      <h3 class="text-center">Nombre cours  par niveau et par sujet</h3>
      <app-line-chart *ngIf="subjectLevelCounts.length > 0" [data]="subjectLevelCounts" ></app-line-chart>
    </div>

    <div class="col-md-4">
      <h3 class="text-center">Nombre d'abonne par sujet</h3>
      <app-pie-chart *ngIf="subscriberAndLectures.length > 0" [data]="subscriberAndLectures" ></app-pie-chart>
    </div>

  </div>
</div>
